body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #fefaf0;
}

.carousel-row {
    margin: auto;
}

.carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 200px;
}

.main-img {
    height: 600px;
}

.info {
    display: inline-block;
    height: 300px;
}

.product-left img {
    width: 100%;
}

.product-left .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.product-detail span {
    font-size: 15px;
}

.product-name {
    color: #403f2b;
    font-size: 2rem;
}

.price {
    font-size: 1.5rem;
}

.carousel-inner {
    padding: 2rem;
    margin: auto;
}

.carousel-indicators {
    margin-bottom: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: 2rem;
}

@media screen and (max-width: 720px) {
    .carousel-div {
        display: none;
    }
}

@media (min-width: 720px) and (max-width: 991px) {
    .carousel .carousel-item img {
        width: 130px;
    }

    .carousel-row {
        flex-wrap: nowrap;
        width: 46%;
        margin: 0;
    }

    .carousel-item {
        width: 75%;
        margin: auto;
    }
}

@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}