* {
  font-family: "Barlow", sans-serif;
}

.custom-color {
    background-color: #FEFAF0;
    color: #403F2B;
}

/* Navbar */
@media only screen and (max-width: 611px) {
  .main-navbar, .nav-dropbtn, .logo-link, 
  .dropdown-link, .footer {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 487px) {
  .main-navbar, .nav-dropbtn, .logo-link, 
  .dropdown-link, .footer {
    font-size: 9px !important;
  }
}

.main-navbar {
  font-size: 25px;
  overflow: hidden;
  background-color: #e8e59b;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 5rem;
}

.main-navbar a
.dropdown-link {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-dropdown {
  overflow: hidden;
  width: 33%;
}

.nav-dropdown .nav-dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 14px 20px;
  background-color: inherit;
  margin: 0;
}

.nav-dropdown-content {
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: #e8e59b;
  width: 100%;
  z-index: 1;
}

/* navbar content text */
.nav-dropdown-content a {
  float: none;
  color: rgb(48, 48, 36);
  padding: 12px 20px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.nav-dropdown-content a:hover {
  color: rgb(98, 99, 56);
}

.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  .dropdown-link,
  .nav-dropdown .nav-dropbtn {
    float: none;
    display: block;
    text-align: left;
  }

  .nav-dropdown {
    display: block;
  }
}

.nav-logo-text a {
  text-align: center;
  width: 33%;
  text-decoration: none;
  color: inherit;
}

.logo-link {
  font-size: 20px;
  width: 33%;
  display: flex;
  justify-content: right;
}

.logo-cart a, .logo-login a {
  padding: 14px 20px;
  text-decoration: none;
  color: inherit;
}

/* nav */

.nav {
    color: #403F2B;
}

.nav a{
    color: #403F2B;
}

.nav h2 {
    border-bottom: 1px solid #D8D5C9;
    padding-bottom: 1rem;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    color: #403F2B;
}

/* header */

header h1 {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  header h1 {
    margin: 1rem;
    padding: 1rem;
  }
}

header h1{
    font-size: clamp(2rem, 5vw, 3rem);
}

header p {
    padding-bottom: 1rem;
}

header .btn{
    border: none;
}

/* filter */

.filter1 {
    border-bottom: 1px solid #D8D5C9;
    padding-bottom: 2rem;
}


/* card */

.card {
    border: none;
    background-color: #FEFAF0;
    color: #403F2B;
}

.card img:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.25s ease;
}

.card-title {
  cursor: pointer;
}

.card img {
    border-radius: 2rem;
}

/* show and hide card */

.show {
    display: block;
}

.hide {
    display: none;
}

/* footer */
.footer {
  background-color: #e8e59b;
  text-align: center;
  padding-top: 1rem;
  height: 7.1rem;
  border-top: 1px solid rgb(48, 48, 36);
  font-size: 15px;
}

body > section {
  min-height: calc(100vh - 18rem);
}